[user]
	email = zzzap1957@gmail.com
	name = Tom Rake
[merge]
	tool = kdiff3
	guitool = kdiff3
[mergetool "kdiff3"]
	path = C:/Program Files (x86)/KDiff3/kdiff3.exe
	cmd = \"C:/Program Files (x86)/KDiff3/kdiff3.exe\" \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
[pull]
	rebase = false
[fetch]
	prune = false
[rebase]
	autoStash = false
[diff]
	guitool = kdiff3
[difftool "kdiff3"]
	path = C:/Program Files (x86)/KDiff3/kdiff3.exe
	cmd = \"C:/Program Files (x86)/KDiff3/kdiff3.exe\" \"$LOCAL\" \"$REMOTE\"
[i18n]
	filesEncoding = utf-8
[core]
	editor = C:/ProgramData/chocolatey/lib/Emacs/tools/emacs/bin/emacs.exe  fileeditor
	autocrlf = true
